# Projeto Mulheres Vítimas Versão 3
## Classificação de municípios quanto ao risco de violência contra mulher


**João L. S. Júnior**\
Universidade Federal do Pará - UFPA \
Laboratório de Pesquisa Operacional - LPO\
Instituto Federal de Educação, Ciência e Tecnologia do Pará - IFPA\
Copyright(c) 2023.


---

Comunicação com API IBGE

In [1]:
from generators.IBGEDataFetcher import IBGEDataFetcher

state = 'pa'  # Exemplo: Pará
fetcher = IBGEDataFetcher(state)
df_munic = fetcher.fetch_municipalites_info()
df_munic

         id          localidade   IAP    IDH        PIB  GINI
0    150010          Abaetetuba  0.45  0.628    9458.72  0.60
1    150013     Abel Figueiredo  0.47  0.622   11420.76  0.63
2    150020               Acará  0.12  0.506   13582.97  0.64
3    150030                Afuá  0.12  0.489    9405.70  0.61
4    150034  Água Azul do Norte  0.27  0.564   15819.85  0.63
..      ...                 ...   ...    ...        ...   ...
139  150815              Uruará  0.15  0.589   13401.03  0.62
140  150820               Vigia  0.32  0.617    7216.02  0.64
141  150830               Viseu  0.47  0.515    7952.36  0.63
142  150835    Vitória do Xingu  0.00  0.596  270414.24  0.62
143  150840            Xinguara  0.15  0.646   28872.41  0.61

[144 rows x 6 columns]

In [5]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np

df_munic_normalized = pd.DataFrame()

# Inicialize o MinMaxScaler
scaler = MinMaxScaler()

# Selecione as colunas a serem normalizadas (exceto 'id' e 'nome')
columns_to_normalize = ['IAP', 'IDH', 'PIB', 'GINI']


# Aplique o MinMaxScaler às colunas selecionadas
df_munic_normalized[columns_to_normalize] = scaler.fit_transform(df_munic[columns_to_normalize])

# Resultado normalizado
df_munic_normalized

          IAP       IDH       PIB      GINI
0    0.671642  0.841823  0.014360  0.895522
1    0.701493  0.833780  0.021286  0.940299
2    0.179104  0.678284  0.028919  0.955224
3    0.179104  0.655496  0.014173  0.910448
4    0.402985  0.756032  0.036816  0.940299
..        ...       ...       ...       ...
139  0.223881  0.789544  0.028277  0.925373
140  0.477612  0.827078  0.006443  0.955224
141  0.701493  0.690349  0.009042  0.940299
142  0.000000  0.798928  0.935595  0.925373
143  0.223881  0.865952  0.082895  0.910448

[144 rows x 4 columns]

In [13]:
df_munic

         id          localidade   IAP    IDH        PIB  GINI
0    150010          Abaetetuba  0.45  0.628    9458.72  0.60
1    150013     Abel Figueiredo  0.47  0.622   11420.76  0.63
2    150020               Acará  0.12  0.506   13582.97  0.64
3    150030                Afuá  0.12  0.489    9405.70  0.61
4    150034  Água Azul do Norte  0.27  0.564   15819.85  0.63
..      ...                 ...   ...    ...        ...   ...
139  150815              Uruará  0.15  0.589   13401.03  0.62
140  150820               Vigia  0.32  0.617    7216.02  0.64
141  150830               Viseu  0.47  0.515    7952.36  0.63
142  150835    Vitória do Xingu  0.00  0.596  270414.24  0.62
143  150840            Xinguara  0.15  0.646   28872.41  0.61

[144 rows x 6 columns]