In [540]:
import pandas as pd

# Carregando o dataset com os municípios classificados
df_munic = pd.read_csv('datasets/df_classified_pa_casos.csv')
# coluna_uf = 'vitima_uf'
# coluna_municipio ='vitima_municipio'
# coluna_uf = 'uf'
# coluna_municipio ='municipio'
coluna_uf = 'UF'
coluna_municipio ='Município'

pasta = 'C:/Users/JrDev/Downloads/ligue180-'
ano = '2023'
parte ='2'
nome_coluna = f'qty_casos_{ano}'
df = pd.read_csv(f'{pasta}{ano}-parte{parte}.csv', sep=';')
#df = pd.read_csv(f'{pasta}{ano}-parte{parte}.csv', sep=';')

df.head(3)

,hash,Data_de_cadastro,Canal_de_atendimento,Denúncia_emergencial,Denunciante,Cenário_da_violação,País,UF,Município,Frequência,...,Grau_de_instrução_do_suspeito,Religião_do_suspeito,Raça_Cor_do_suspeito,Suspeito_Etnia,Faixa_de_renda_do_suspeito,Vínculo_Órgão_PJ_do_suspeito,sl_suspeito_ramo,suspeito_especificacao_etnia,vitima_especificacao_etnia,violacao
0,0000B36CD296A62B3D86786CEB58731FC86849728BB19B...,2023-07-24 16:11:48.620,TELEFÔNICO,NÃO,TERCEIRO,CASA ONDE RESIDE A VÍTIMA E O SUSPEITO,BR | BRASIL,SP,355030 | SÃO PAULO,MENSALMENTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DIREITOS SOCIAIS>SAÚDE
1,0000B36CD296A62B3D86786CEB58731FC86849728BB19B...,2023-07-24 16:11:48.620,TELEFÔNICO,NÃO,TERCEIRO,CASA ONDE RESIDE A VÍTIMA E O SUSPEITO,BR | BRASIL,SP,355030 | SÃO PAULO,MENSALMENTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INTEGRIDADE>NEGLIGÊNCIA
2,000025052037241B6D179A447D83C9DF64593AC1B33D57...,2023-09-20 17:44:53.037,TELEFÔNICO,NÃO,TERCEIRO,CASA ONDE RESIDE A VÍTIMA E O SUSPEITO,BR | BRASIL,SP,354990 | SÃO JOSÉ DOS CAMPOS,DIARIAMENTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INTEGRIDADE>FÍSICA>ABANDONO

In [541]:
df_munic

,Unnamed: 0,id,localidade,IAP,IDH,PIB,GINI,class,qty_casos_2014,qty_casos_2015,qty_casos_2016,qty_casos_2017,qty_casos_2018,qty_casos_2019,qty_casos_2020,qty_casos_2021,qty_casos_2022,qty_casos_2023
0,0,150010,Abaetetuba,0.45,0.628,9458.72,0.60,1,42.0,53.0,91.0,88.0,96.0,77.0,344.0,663.0,1018.0,659.0
1,1,150013,Abel Figueiredo,0.47,0.622,11420.76,0.63,1,2.0,6.0,2.0,7.0,5.0,0.0,19.0,13.0,25.0,11.0
2,2,150020,Acará,0.12,0.506,13582.97,0.64,3,0.0,0.0,0.0,0.0,0.0,0.0,46.0,145.0,122.0,56.0
3,3,150030,Afuá,0.12,0.489,9405.70,0.61,3,0.0,0.0,0.0,0.0,0.0,0.0,32.0,22.0,26.0,34.0
4,4,150034,Água Azul do Norte,0.27,0.564,15819.85,0.63,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,139,150815,Uruará,0.15,0.589,13401.03,0.62,2,0.0,0.0,0.0,0.0,0.0,0.0,15.0,46.0,70.0,90.0
140,140,150820,Vigia,0.32,0.617,7216.02,0.64,2,7.0,7.0,20.0,28.0,14.0,10.0,101.0,89.0,137.0,104.0
141,141,150830,Viseu,0.47,0.515,7952.36,0.63,1,3.0,3.0,7.0,11.0,11.0,4.0,48.0,100.0,69.0,90.0
142,142,150835,Vitória do Xingu,0.00,0.596,270414.24,0.62,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
143,143,150840,Xinguara,0.15,0.646,28872.41,0.61,2,4.0,6.0,16.0,24.0,18.0,13.0,60.0,163.0,157.0,164.0

In [542]:

df[coluna_uf] = df[coluna_uf].str.strip()
#df[coluna_municipio] = df[coluna_municipio].str.lower()
df[coluna_municipio]  = df[coluna_municipio].str.title()
#df[coluna_municipio] = df[coluna_municipio].apply(lambda x: x.split('(')[0].strip())
df[coluna_municipio] = df[coluna_municipio].str.slice(9).str.strip()

df_filtrado = df.query(f"{coluna_uf} == 'PA'")

df_filtrado.head(3)

,hash,Data_de_cadastro,Canal_de_atendimento,Denúncia_emergencial,Denunciante,Cenário_da_violação,País,UF,Município,Frequência,...,Grau_de_instrução_do_suspeito,Religião_do_suspeito,Raça_Cor_do_suspeito,Suspeito_Etnia,Faixa_de_renda_do_suspeito,Vínculo_Órgão_PJ_do_suspeito,sl_suspeito_ramo,suspeito_especificacao_etnia,vitima_especificacao_etnia,violacao
5,00053E54C558FD076FC8A271DFAE549B1B26430812A366...,2023-09-02 13:53:17.723,TELEFÔNICO,NÃO,A PRÓPRIA VÍTIMA,CASA DA VÍTIMA,BR | BRASIL,PA,Breu Branco,DIARIAMENTE,...,NaN,NaN,BRANCA,NaN,NaN,NaN,NaN,NaN,NaN,INTEGRIDADE>FÍSICA>AGRESSÃO ou VIAS DE FATO
14,00053E54C558FD076FC8A271DFAE549B1B26430812A366...,2023-09-02 13:53:17.723,TELEFÔNICO,NÃO,A PRÓPRIA VÍTIMA,CASA DA VÍTIMA,BR | BRASIL,PA,Breu Branco,DIARIAMENTE,...,NaN,NaN,BRANCA,NaN,NaN,NaN,NaN,NaN,NaN,INTEGRIDADE>PSÍQUICA>TORTURA PSÍQUICA
53,00053E54C558FD076FC8A271DFAE549B1B26430812A366...,2023-09-02 13:53:17.723,TELEFÔNICO,NÃO,A PRÓPRIA VÍTIMA,CASA DA VÍTIMA,BR | BRASIL,PA,Breu Branco,DIARIAMENTE,...,NaN,NaN,BRANCA,NaN,NaN,NaN,NaN,NaN,NaN,INTEGRIDADE>PSÍQUICA>AMEAÇA ou COAÇÃO

In [543]:
# Agrupe os dados por 'municipio' e conte o número de ocorrências em cada grupo
contagem_casos_por_municipio = df_filtrado.groupby(coluna_municipio).size().reset_index(name=nome_coluna)
contagem_casos_por_municipio[nome_coluna] = contagem_casos_por_municipio[nome_coluna].astype(float)
# Exiba a contagem de casos por município
contagem_casos_por_municipio

            Município  qty_casos_2023
0          Abaetetuba           375.0
1     Abel Figueiredo            22.0
2               Acará            88.0
3                Afuá             1.0
4            Alenquer            66.0
..                ...             ...
122             Viseu           122.0
123  Vitória Do Xingu            36.0
124          Xinguara            51.0
125   to Interrompido            12.0
126            Óbidos            59.0

[127 rows x 2 columns]

In [544]:

# Use uma função lambda com str.split() para dividir o valor da coluna pelo parêntese e pegar o primeiro elemento

contagem_casos_por_municipio

            Município  qty_casos_2023
0          Abaetetuba           375.0
1     Abel Figueiredo            22.0
2               Acará            88.0
3                Afuá             1.0
4            Alenquer            66.0
..                ...             ...
122             Viseu           122.0
123  Vitória Do Xingu            36.0
124          Xinguara            51.0
125   to Interrompido            12.0
126            Óbidos            59.0

[127 rows x 2 columns]

In [545]:
df_munic

,Unnamed: 0,id,localidade,IAP,IDH,PIB,GINI,class,qty_casos_2014,qty_casos_2015,qty_casos_2016,qty_casos_2017,qty_casos_2018,qty_casos_2019,qty_casos_2020,qty_casos_2021,qty_casos_2022,qty_casos_2023
0,0,150010,Abaetetuba,0.45,0.628,9458.72,0.60,1,42.0,53.0,91.0,88.0,96.0,77.0,344.0,663.0,1018.0,659.0
1,1,150013,Abel Figueiredo,0.47,0.622,11420.76,0.63,1,2.0,6.0,2.0,7.0,5.0,0.0,19.0,13.0,25.0,11.0
2,2,150020,Acará,0.12,0.506,13582.97,0.64,3,0.0,0.0,0.0,0.0,0.0,0.0,46.0,145.0,122.0,56.0
3,3,150030,Afuá,0.12,0.489,9405.70,0.61,3,0.0,0.0,0.0,0.0,0.0,0.0,32.0,22.0,26.0,34.0
4,4,150034,Água Azul do Norte,0.27,0.564,15819.85,0.63,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,139,150815,Uruará,0.15,0.589,13401.03,0.62,2,0.0,0.0,0.0,0.0,0.0,0.0,15.0,46.0,70.0,90.0
140,140,150820,Vigia,0.32,0.617,7216.02,0.64,2,7.0,7.0,20.0,28.0,14.0,10.0,101.0,89.0,137.0,104.0
141,141,150830,Viseu,0.47,0.515,7952.36,0.63,1,3.0,3.0,7.0,11.0,11.0,4.0,48.0,100.0,69.0,90.0
142,142,150835,Vitória do Xingu,0.00,0.596,270414.24,0.62,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
143,143,150840,Xinguara,0.15,0.646,28872.41,0.61,2,4.0,6.0,16.0,24.0,18.0,13.0,60.0,163.0,157.0,164.0

In [546]:
# Verifique as colunas que contêm '2018' em seus nomes
# Se houver colunas com 'ano', some os valores dessas colunas
if nome_coluna in df_munic.columns:
    nome_coluna_2 = f'{nome_coluna}_'
    contagem_casos_por_municipio.rename(columns={nome_coluna: nome_coluna_2}, inplace=True)

    # Realize um merge entre os DataFrames com base na coluna 'localidade' em df_munic e 'municipio' em contagem_casos_por_municipio
    df_merged = df_munic.merge(contagem_casos_por_municipio, left_on='localidade', right_on=coluna_municipio, how='left')

    # Preencha os valores ausentes (caso o município não exista na contagem de casos) com zero
    df_merged[nome_coluna_2] = df_merged[nome_coluna_2].fillna(0)

    # Remova a coluna 'municipio' resultante do merge
    df_merged.drop(coluna_municipio, axis=1, inplace=True)
    df_merged.drop('Unnamed: 0', axis=1, inplace=True)
    
    df_merged['somado'] = df_merged[nome_coluna] + df_merged[nome_coluna_2]
    df_merged.drop(nome_coluna, axis=1, inplace=True)
    df_merged.drop(nome_coluna_2, axis=1, inplace=True)
    # Use o método rename() para renomear a coluna
    df_merged.rename(columns={'somado': nome_coluna}, inplace=True)

    print('Somado')

    
else:
    
    # Realize um merge entre os DataFrames com base na coluna 'localidade' em df_munic e 'municipio' em contagem_casos_por_municipio
    df_merged = df_munic.merge(contagem_casos_por_municipio, left_on='localidade', right_on=coluna_municipio, how='left')

    # Preencha os valores ausentes (caso o município não exista na contagem de casos) com zero
    df_merged[nome_coluna] = df_merged[nome_coluna].fillna(0)

    # Remova a coluna 'municipio' resultante do merge
    df_merged.drop(coluna_municipio, axis=1, inplace=True)
    df_merged.drop('Unnamed: 0', axis=1, inplace=True)
    
    print('Agregado')
# Exiba o DataFrame resultante df_merged com a nova coluna 'qtd_casos'
df_merged

Somado

,id,localidade,IAP,IDH,PIB,GINI,class,qty_casos_2014,qty_casos_2015,qty_casos_2016,qty_casos_2017,qty_casos_2018,qty_casos_2019,qty_casos_2020,qty_casos_2021,qty_casos_2022,qty_casos_2023
0,150010,Abaetetuba,0.45,0.628,9458.72,0.60,1,42.0,53.0,91.0,88.0,96.0,77.0,344.0,663.0,1018.0,1034.0
1,150013,Abel Figueiredo,0.47,0.622,11420.76,0.63,1,2.0,6.0,2.0,7.0,5.0,0.0,19.0,13.0,25.0,33.0
2,150020,Acará,0.12,0.506,13582.97,0.64,3,0.0,0.0,0.0,0.0,0.0,0.0,46.0,145.0,122.0,144.0
3,150030,Afuá,0.12,0.489,9405.70,0.61,3,0.0,0.0,0.0,0.0,0.0,0.0,32.0,22.0,26.0,35.0
4,150034,Água Azul do Norte,0.27,0.564,15819.85,0.63,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,150815,Uruará,0.15,0.589,13401.03,0.62,2,0.0,0.0,0.0,0.0,0.0,0.0,15.0,46.0,70.0,108.0
140,150820,Vigia,0.32,0.617,7216.02,0.64,2,7.0,7.0,20.0,28.0,14.0,10.0,101.0,89.0,137.0,234.0
141,150830,Viseu,0.47,0.515,7952.36,0.63,1,3.0,3.0,7.0,11.0,11.0,4.0,48.0,100.0,69.0,212.0
142,150835,Vitória do Xingu,0.00,0.596,270414.24,0.62,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
143,150840,Xinguara,0.15,0.646,28872.41,0.61,2,4.0,6.0,16.0,24.0,18.0,13.0,60.0,163.0,157.0,215.0

In [547]:
df_merged.to_csv('datasets/df_classified_pa_casos.csv')

In [548]:
df_munic = pd.read_csv('datasets/df_classified_pa_casos.csv')
df_munic

,Unnamed: 0,id,localidade,IAP,IDH,PIB,GINI,class,qty_casos_2014,qty_casos_2015,qty_casos_2016,qty_casos_2017,qty_casos_2018,qty_casos_2019,qty_casos_2020,qty_casos_2021,qty_casos_2022,qty_casos_2023
0,0,150010,Abaetetuba,0.45,0.628,9458.72,0.60,1,42.0,53.0,91.0,88.0,96.0,77.0,344.0,663.0,1018.0,1034.0
1,1,150013,Abel Figueiredo,0.47,0.622,11420.76,0.63,1,2.0,6.0,2.0,7.0,5.0,0.0,19.0,13.0,25.0,33.0
2,2,150020,Acará,0.12,0.506,13582.97,0.64,3,0.0,0.0,0.0,0.0,0.0,0.0,46.0,145.0,122.0,144.0
3,3,150030,Afuá,0.12,0.489,9405.70,0.61,3,0.0,0.0,0.0,0.0,0.0,0.0,32.0,22.0,26.0,35.0
4,4,150034,Água Azul do Norte,0.27,0.564,15819.85,0.63,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,139,150815,Uruará,0.15,0.589,13401.03,0.62,2,0.0,0.0,0.0,0.0,0.0,0.0,15.0,46.0,70.0,108.0
140,140,150820,Vigia,0.32,0.617,7216.02,0.64,2,7.0,7.0,20.0,28.0,14.0,10.0,101.0,89.0,137.0,234.0
141,141,150830,Viseu,0.47,0.515,7952.36,0.63,1,3.0,3.0,7.0,11.0,11.0,4.0,48.0,100.0,69.0,212.0
142,142,150835,Vitória do Xingu,0.00,0.596,270414.24,0.62,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
143,143,150840,Xinguara,0.15,0.646,28872.41,0.61,2,4.0,6.0,16.0,24.0,18.0,13.0,60.0,163.0,157.0,215.0

In [549]:

df_munic.drop('Unnamed: 0', axis=1, inplace=True)
df_munic

,id,localidade,IAP,IDH,PIB,GINI,class,qty_casos_2014,qty_casos_2015,qty_casos_2016,qty_casos_2017,qty_casos_2018,qty_casos_2019,qty_casos_2020,qty_casos_2021,qty_casos_2022,qty_casos_2023
0,150010,Abaetetuba,0.45,0.628,9458.72,0.60,1,42.0,53.0,91.0,88.0,96.0,77.0,344.0,663.0,1018.0,1034.0
1,150013,Abel Figueiredo,0.47,0.622,11420.76,0.63,1,2.0,6.0,2.0,7.0,5.0,0.0,19.0,13.0,25.0,33.0
2,150020,Acará,0.12,0.506,13582.97,0.64,3,0.0,0.0,0.0,0.0,0.0,0.0,46.0,145.0,122.0,144.0
3,150030,Afuá,0.12,0.489,9405.70,0.61,3,0.0,0.0,0.0,0.0,0.0,0.0,32.0,22.0,26.0,35.0
4,150034,Água Azul do Norte,0.27,0.564,15819.85,0.63,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,150815,Uruará,0.15,0.589,13401.03,0.62,2,0.0,0.0,0.0,0.0,0.0,0.0,15.0,46.0,70.0,108.0
140,150820,Vigia,0.32,0.617,7216.02,0.64,2,7.0,7.0,20.0,28.0,14.0,10.0,101.0,89.0,137.0,234.0
141,150830,Viseu,0.47,0.515,7952.36,0.63,1,3.0,3.0,7.0,11.0,11.0,4.0,48.0,100.0,69.0,212.0
142,150835,Vitória do Xingu,0.00,0.596,270414.24,0.62,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
143,150840,Xinguara,0.15,0.646,28872.41,0.61,2,4.0,6.0,16.0,24.0,18.0,13.0,60.0,163.0,157.0,215.0

In [550]:
df_munic.to_csv('datasets/df_classified_pa_casos.csv')

In [2]:
import pandas as pd
pd.read_csv('datasets/df_classified_pa_casos.csv').to_excel('datasets/df_classified_pa_casos.xlsx')

In [3]:
dd = pd.read_csv('datasets/df_classified_pa_casos.csv')
dd

,Unnamed: 0,id,localidade,IAP,IDH,PIB,GINI,class,qty_casos_2014,qty_casos_2015,qty_casos_2016,qty_casos_2017,qty_casos_2018,qty_casos_2019,qty_casos_2020,qty_casos_2021,qty_casos_2022,qty_casos_2023
0,0,150010,Abaetetuba,0.45,0.628,9458.72,0.60,1,42.0,53.0,91.0,88.0,96.0,77.0,344.0,663.0,1018.0,1034.0
1,1,150013,Abel Figueiredo,0.47,0.622,11420.76,0.63,1,2.0,6.0,2.0,7.0,5.0,0.0,19.0,13.0,25.0,33.0
2,2,150020,Acará,0.12,0.506,13582.97,0.64,3,0.0,0.0,0.0,0.0,0.0,0.0,46.0,145.0,122.0,144.0
3,3,150030,Afuá,0.12,0.489,9405.70,0.61,3,0.0,0.0,0.0,0.0,0.0,0.0,32.0,22.0,26.0,35.0
4,4,150034,Água Azul do Norte,0.27,0.564,15819.85,0.63,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,139,150815,Uruará,0.15,0.589,13401.03,0.62,2,0.0,0.0,0.0,0.0,0.0,0.0,15.0,46.0,70.0,108.0
140,140,150820,Vigia,0.32,0.617,7216.02,0.64,2,7.0,7.0,20.0,28.0,14.0,10.0,101.0,89.0,137.0,234.0
141,141,150830,Viseu,0.47,0.515,7952.36,0.63,1,3.0,3.0,7.0,11.0,11.0,4.0,48.0,100.0,69.0,212.0
142,142,150835,Vitória do Xingu,0.00,0.596,270414.24,0.62,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
143,143,150840,Xinguara,0.15,0.646,28872.41,0.61,2,4.0,6.0,16.0,24.0,18.0,13.0,60.0,163.0,157.0,215.0